<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Expense</title>
</head>
<body>
<h3>Add New Expense</h3>
<form action="/saveExp" method="post">
    Amount: <input type="text" name="sum" placeholder="Enter amount"><br>
    Category: <input type="text" name="category" placeholder="Eg. groceries/ bills/ gift"><br>
    Payment Method: <input type="text" name="paymentMethod" placeholder="Eg. cash/ card/ bank transfer"><br>
    Date: <input type="date" name="date" id="date"><br><br>
    Info: <input type="text" name="info" placeholder="Enter info"><br>
    <input type="submit" value="Save Expense">
</form>
</body>
</html>
