<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles2.css">
    <title>Update Income</title>
</head>
<body>
<h3>Update Income</h3>
<form action="#"
      th:action="@{/updateIncome/{id}(id=${income.id})}"
      th:object="${income}"
      method="post">
    <label for="sum">Amount:</label>
    <input type="number" th:field="*{sum}" id="sum" placeholder="enter sum"><br>
    <label for="category">Category:</label>
    <input type="text" th:field="*{category}" id="category" placeholder="eg. salary/ rental income"><br>
    <label for="date">Date:</label>
    <input type="date" th:field="*{date}" id="date" placeholder="date"><br>
    <label for="info">Info:</label>
    <input type="text" th:field="*{info}" id="info" placeholder="enter info"><br>
    <input type="submit" value="Update Income">
</form>
</body>
</html>
